@CHARSET "UTF-8";

body {
	margin:0px;
	padding:0px;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    text-align: center;
	background:#58B8F7;
}
#left{
	margin:0px 1px 0px 1px;
	padding:0px 0px 0px 0px;
	height:99.9%;
	background:#FFFFFF;
	width:118px;
}

#left-menu {
	margin:0px;
	padding:0px;
	text-align:left;
	list-style:none;
	text-align:center;
}
.left-group-item{
	margin:0px;
	padding:0px;
	list-style: none;
	width:100%;
	height:25px;
	text-align:center;
	background:#58B8F7;
	line-height:25px;
}
.left-group-item a,.left-group-item a:visited{
	display:block;
	width:98%;
	height:95%;
	margin:1px auto;
	padding:0px;
	background:#CEEFFF ;
	text-decoration: none;
	color:black;
}
.left-group-item a:hover{
	background:#BDEEEE;
	text-decoration: none;
}
#left-menu ul{
	margin:0px;
	padding:0px;
	display:none;
	list-style:none;
	text-align:left;
}
#left-menu ul a{
	background:url(../image/left-list-item-indicator.jpg) 0% 50% no-repeat;
	text-align:left;
	width:100%;
	margin:0px;
	padding-left:20px;
	text-decoration:none;
	color:black;
}

/**
	background:#CEEFFF;
	border:#58B8F7;

*/

