<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--
        <property name="connection.url">jdbc:mysql://59.68.180.189:3306/wust</property>
        <property name="connection.username">root</property>
        <property name="connection.password">19810719</property>
        -->
        <property name="connection.url">jdbc:mysql://localhost:3306/wust</property>
        <property name="connection.username">root</property>
        <property name="connection.password">xukai520</property>       
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->        
        <property name="show_sql">true</property>        
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="hibernate.cache.use_query_cache">false</property>
		<property name="hibernate.hbm2ddl.auto" >create</property>
		<!--
        <mapping resource="com.wust.beans/Account.hbm.xml"/>
        <mapping resource="com.wust.beans/Wiki.hbm.xml"/>
        -->		
		<mapping resource="com/wust/beans/Student.hbm.xml" />
		<mapping resource="com/wust/beans/ApplyTable.hbm.xml" />
		<mapping resource="com/wust/beans/ProcessTable.hbm.xml" />
		<mapping resource="com/wust/beans/ProgramResultTable.hbm.xml" />		
    </session-factory>
</hibernate-configuration>

